.cache
.git
.gitignore
.shopify
.react-router
build
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
prisma/dev.sqlite
prisma/dev.sqlite-journal
prisma/prod.sqlite
prisma/prod.sqlite-journal
prisma/prisma
extensions/*/dist
extensions/*/node_modules
other/*.docx
other/deploy_samples
