client_id = "018d1d4d00f8544b759266b72d17c00e"
name = "Lions Creek Rewards"
application_url = "https://loyalty.basketbooster.ca"
embedded = true

[build]
automatically_update_urls_on_dev = false
dev_store_url = "lions-creek-dev-3.myshopify.com"

[access_scopes]
scopes = "read_orders,read_customers,write_customers,read_products,write_discounts"
optional_scopes = []
use_legacy_install_flow = false

[auth]
redirect_urls = [
  "https://loyalty.basketbooster.ca/auth/callback",
  "https://loyalty.basketbooster.ca/auth/shopify/callback"
]

[webhooks]
api_version = "2026-01"
