# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "018d1d4d00f8544b759266b72d17c00e"
name = "Lions Creek Rewards"
application_url = "https://loyalty.basketbooster.ca"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customers,read_orders,read_products,write_customers,write_discounts"
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [
  "https://loyalty.basketbooster.ca/auth/callback",
  "https://loyalty.basketbooster.ca/auth/shopify/callback"
]
